body {
  background: #1e2a38;
  color: white;
  text-align: center;
  font-family: Arial;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

div {
  margin: 10px;
}
