<!doctype html>
<html>
  <head>
    <title>FreeVibe Music</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- Sidebar -->
      <div class="sidebar">
        <h2>🎧 FreeVibe</h2>
        <ul>
          <li onclick="loadSongs()">🏠 Home</li>
          <li onclick="showFavorites()">❤️ Favorites</li>
        </ul>
      </div>

      <!-- Main Content -->
      <div class="main">
        <div class="topbar">
          <input type="text" id="search" placeholder="Search music..." />
          <button onclick="searchSongs()">Search</button>
        </div>

        <div id="songs" class="songs"></div>
      </div>
    </div>

    <!-- Bottom Player -->
    <div class="player" id="player">
      <img id="cover" src="" />
      <div>
        <h4 id="title">No song</h4>
        <p id="artist"></p>
      </div>
      <audio id="audio" controls></audio>
    </div>

    <script>
      let allSongs = [];
      let favorites = JSON.parse(localStorage.getItem("fav")) || [];

      function loadSongs() {
        fetch("/songs")
          .then((res) => res.json())
          .then((data) => {
            allSongs = data;
            displaySongs(data);
          });
      }

      function displaySongs(songs) {
        let html = "";
        songs.forEach((song) => {
          html += `
        <div class="card">
            <img src="${song.image}">
            <h3>${song.name}</h3>
            <p>${song.artist}</p>

            <button onclick='playSong(${JSON.stringify(song)})'>▶ Play</button>
            <button onclick='addFav(${JSON.stringify(song)})'>❤️</button>
        </div>
        `;
        });

        document.getElementById("songs").innerHTML = html;
      }

      function playSong(song) {
        document.getElementById("audio").src = song.audio;
        document.getElementById("cover").src = song.image;
        document.getElementById("title").innerText = song.name;
        document.getElementById("artist").innerText = song.artist;
      }

      function searchSongs() {
        let text = document.getElementById("search").value.toLowerCase();
        let filtered = allSongs.filter(
          (s) =>
            s.name.toLowerCase().includes(text) ||
            s.artist.toLowerCase().includes(text),
        );
        displaySongs(filtered);
      }

      function addFav(song) {
        favorites.push(song);
        localStorage.setItem("fav", JSON.stringify(favorites));
        alert("Added to favorites");
      }

      function showFavorites() {
        displaySongs(favorites);
      }

      loadSongs();
    </script>
  </body>
</html>
